<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
  </head>
  <body>
    <h1>This is the generator for <%= name %> Ipsum!</h1>
    <% lipsum_number.times do %>
      <p><%= content %></p>
    <% end %>
  </body>
</html>
